NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_FLOWISE_CHATFLOW_ID=
NEXT_PUBLIC_FLOWISE_API_HOST=
FLOWISE_CORS=
NODE_ENV=

GROQ_API_INSIGHT_KEY=

NEXT_PUBLIC_WA_ADMIN=